/* apokl color*/ 

$apoklLightBlue: #f8f8ff;
$apoklLight2Blue: #8d8ef4;
$apoklElectricBlue:#3e81f1;
$apoklMediumBlue: #00397C;
$apoklDarkBlue: #0F0F4B; //rbg(15,15,75);

$apoklLightPurple : #FCF7FF;
$apoklMediumPurple: #7060A8;

/* gradient */ 
$mainGradient: linear-gradient(162deg, 
        rgba(217,11,206,1) 14%, 
        rgba(0,90,196,1) 27%, 
        rgba(84,69,205,1) 42%, 
        rgba(164,78,245,1) 51%, 
        rgba(229,53,255,1) 56%, 
        rgba(148,62,241,1) 61%, 
        rgba(91,92,238,1) 73%, 
        rgba(141,99,234,1) 81%, 
        rgba(255,55,224,1) 88%);