@import "variables";

//classic button with apokl logo in background
.button{
    background: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/button.png");
    color:$apoklLightBlue;
    cursor: pointer;
    padding: 0.5em;
    margin:0px;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;    
    aspect-ratio: 70 / 1;
}

//button with mui Icon
.buttonIcon{
    color:$apoklDarkBlue;
}

.buttonIcon:hover{
    color:$apoklLight2Blue;
}

//Div select button
.divButton{
    background-color: $apoklLightBlue;
    color:$apoklDarkBlue;
    padding-top:4px;
    padding-bottom:2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid $apoklDarkBlue;
    cursor: pointer;
    height:100%;
}

.divButtonActive{
    background-color: $apoklDarkBlue;
    color: $apoklLightBlue;
    padding-top:4px;
    padding-bottom:2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid $apoklDarkBlue;
    cursor: pointer;
    height:100%;
}

.divButtonCard{
    border-radius: 2px;
    -webkit-box-shadow: $mediumBoxShadow;
    box-shadow: $mediumBoxShadow;
    background-color: $apoklLightBlue;
    h2{
        margin-top:0px;
    }
}

//file select button
.fileInputButton{
    border:rgba(90,90,90,0.4) 1px solid;
    border-radius:5px;
    padding:2px;
    border-radius: 5px;

}

.fileInputButton:hover{
    border:rgba(90,90,90,1) 1px solid;
}