@import "variables";

//classic button with apokl logo in background
.button{
    background: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/button.png");
    color:$apoklLightBlue;
    cursor: pointer;
}

.buttonContent{
    padding: 0.25em;
    margin:0px;
}

//button with mui Icon
.buttonIcon{
    color:$apoklDarkBlue;
}

.buttonIcon:hover{
    color:$apoklLight2Blue;
}

//Div select button
.divButton{
    background-color: $apoklLightBlue;
    color:$apoklDarkBlue;
    padding-top:2px;
    padding-bottom:1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid $apoklDarkBlue;
    cursor: pointer;
}

.divButtonActive{
    background-color: $apoklDarkBlue;
    color: $apoklLightBlue;
    padding-top:2px;
    padding-bottom:1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid $apoklDarkBlue;
    cursor: pointer;
}