.header {
	text-align: center;
	color:white;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 5px 3px rgba(51, 51, 51, 0.5);
	border-radius: 0 0 2% 2% / 2%;		
	background-image: linear-gradient(135deg, hsla(308, 100%, 39%,1) 10%, 
									rgb(0, 70, 150) 35%, 
									hsla(276, 100%, 40%, 1) 50%,
									hsla(276, 100%, 35%, 1) 55%, 
									hsla(215, 100%, 35%, 1) 70%, 
									hsla(308, 100%, 39%, 1) 90%);
}
.overlay{
	margin-top: -1.2em;
	width: 100%;  
	background-position: center;  
	background-size: cover;
	color: #FFF;
	border-radius: 0 0 4% 4% / 4%;		
	box-shadow: 1px 0px 10px #333;
}

.collectionTitle {
    text-shadow: 1px 0px 10px #333;
	font-family: sans-serif;
	font-size: 3em;
	padding-top: 20vh;
	padding-bottom: 4vh;
}

.collectionCreator {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.collectionCreatorPicture{
	border-radius: 50%;
}

.userInfo {
	color: rgb(200, 200, 200);
	font-size:.7rem;
	margin-bottom: -1rem;
}

.userIcon:hover{
	color: rgb(200, 0, 200)

}
.description{
	margin:3em;
	padding-left:2em;
	padding-right:2em;
  border-radius: 5px;  
	background-color: #fefefe;
  color:#333;
	min-height:80px;/* // body's heigth*/
	overflow-y: auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(170, 130, 170,0.2),inset 0px 0px 10px 3px rgba(170, 130, 170,0.2);
  box-shadow: 0px 0px 4px 1px rgba(170, 130, 170,0.2),inset 0px 0px 4px 1px rgba(170, 130, 170,0.2);
}

.button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #f5f5f5;
	background-size: 250% 200%;
	background-attachment: fixed;
	background: linear-gradient(-35deg, 
				rgb(250, 60, 205) 3%, 
        rgba(175,50,150,1) 10%, 
				rgba(121,68,206,1) 20%, 
        rgba(80,60,250,1) 50%, 
				rgba(121,68,206,1) 80%,
				rgba(175,50,150,1) 90%, 
        rgb(250, 60, 205) 97%); 
	box-shadow: 0px 0px 5px 1px rgba(40,10,40,0.1),inset 0px 0px 5px 1px rgba(40,10,40,0.4);
	margin-bottom: 20px;
}
.button:hover{
	box-shadow:0px 0px 5px 1px rgba(70,70,70,0.1);
}

.button:active{
	box-shadow: 0px 0px 1px 1px rgba(121,68,206,0.5);
	color:rgba(40,10,30,0.1);

}


.img {
	max-width: 100%;
	display: block;
	object-fit: cover;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
  }

/*Card*/
  
.collectionCard {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.1);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	background: #ECE9E6;
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
	height:60vh;
	width: 100%;
}

.collectionCardHeader {
	text-align: center;
    color:#fafafa;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    box-shadow: 0px 1px 10px rgba(51, 51, 51, 0.4);
    border-radius: 0 0 5% 5% / 20%;	
	background-image: linear-gradient(135deg, hsla(308, 100%, 39%,1) 10%, 
					hsla(212, 100%, 25%, 1) 35%, 
					hsla(276, 100%, 40%, 1) 50%,
					hsla(276, 100%, 35%, 1) 55%, 
					hsla(215, 100%, 35%, 1) 70%, 
					hsla(308, 100%, 39%, 1) 90%);
}


.collectionCardOverlay{
	margin-top: -1em;
}

.collectionCardTitle {
    text-shadow: 1px 0px 10px #333;
	color: #f5f5f5;
	font-family: sans-serif;
	font-size: 1.5em;
	padding-top: 20%;
	padding-bottom: 5%;
}
  
.collectionCardBody {
	padding: 1rem;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	height: 45vh;/*3x header's heigth*/ 	
	overflow: auto;
}

.collectionInfo{
	height: 5vh;
}

.collectionTag {
	align-self: flex-start;
	padding: .25em .75em;
	margin:0em .25em; 
	border-radius: 1em;
	font-size: .75rem;
	display: inline-block;
	overflow: auto;
	background: rgb(82, 0, 204);
	background-image: linear-gradient(-15deg, 
					rgb(204, 0, 143) 3%,  
                    rgb(82, 0, 204) 35%,
                    rgb(104, 0, 179) 55%, 
                    rgb(57, 0, 179) 70%,
					rgb(204, 0, 143) 97%);
	color: #fafafa;
}

.collectionCardDescription{
    margin:0.5em;
    color:#333;
	height:35vh;/* // body's heigth*/
	overflow-y: auto;
	border-radius: 5px;
	padding: 0px;
	background-color: #f5f5f5ce;
	text-align: left;
}

.collectionCardDescription::-webkit-scrollbar {
    width: 7px;
	height: 7px;
  }

.collectionCardDescription::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fafafa;
}

.collectionCardDescription::-webkit-scrollbar-thumb {
    background: rgb(82, 0, 204);
    border-radius: 32%;
    border: 2px solid #fafafa;
}

.collectionCardDescription::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 7, 204);
}


.collectionCreator {
	display: flex;
	gap: .5rem;
}
.collectionCardFooter {
	display: inline;
	justify-content: space-between;
	height: 5vh;
	bottom: 0;
}

.collectionCardUserInfo {
	color: #666;
	font-size:.7rem;
	margin-bottom: -1rem;
}

.carouselCollection{
	display: inline-block;
	width: 100%;
	height: 100px;
	padding: 5px;
	border: 1px solid blue;    
	background-color: yellow; 

}