.footer{
    background:#004491;
    margin-top:15vh;
    padding-left:4em;
    padding-right:4em;
    padding-top:1em;
    padding-bottom:2em;
    color:#fafafa;
    border-radius: 50% 50% 0% 0%/ 5%;
    box-shadow: -10px 0px 10px 5px rgba(100,80,120,.5), 
                inset 0px 15px 25px 0px rgba(10,10,100,0.3);
}

.footerTitle{
    text-align:center;
}

.footerLink{
    text-decoration:none;
    color:#fafafa;
    margin-top:0.2em;
    margin-bottom:0.2em;
    
}