@import "variables";

.formCard{
    border-radius: 10px;
    -webkit-box-shadow: $boxShadow;
    box-shadow: $boxShadow;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(254, 254, 254);
    height:100%;
    width: 100%;
}

.formCardTitle{
    margin:0px;
    padding-top: 1em;
    text-align: center;
}

.formCardImage{
    margin: 1em;
    text-align: center;
}

.formCardContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding:2em;
}

.formButton{
    border: none;
    border-radius: 15px;
    width: 6em;   
    color: white;
    background: linear-gradient(35deg, rgba(252,70,202,1) 1%, 
        rgba(173,69,150,1) 7%, rgba(121,68,206,1) 18%, 
        rgba(78,67,238,1) 53%, rgba(120,68,207,1) 84%, 
        rgba(236,70,177,1) 97%); 
}

.formButton:hover{
    box-shadow: 0px 1px rgba(170,170,170,0.5);
}

.formButtonRemove{
    border: none;
    border-radius: 15px;
    width: 6em;   
    color: rgba(236,70,177,1);
    background: linear-gradient(35deg, 
        rgba(252,70,202,0.7) 5%, 
        rgba(173,69,150,0.5) 7%, 
        rgba(121,68,206,0.1) 18%, 
        rgba(238,238,238,0.1) 53%, 
        rgba(120,68,207,0.1) 84%, 
        rgba(236,70,177,0.5) 97%); 
}


.formUploadButton{
    display: block;
    background-color: #fafafa;
    border-radius: 10px;
    border:1px solid rgb(0, 50, 150);
}

.formButton:hover{
    box-shadow: 0px 0px 7px rgb(0, 50, 250);
}

.multiSelect{
    white-space: pre-line;
    max-width:250;
    
}

.multiSelectValues{
    display: block;
}


