body, html { 
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-family: Georgia , sans-serif;
    background-color: #fafafa;
}

body::-webkit-scrollbar {
    display: none;
  }
