@import "variables";


.accueil{
    min-height: 100vh;
    background-color: $apoklLightBlue;

    h1{
      color:$apoklDarkBlue;
      font-size: 3em;
    }
    
    .h3{
      font-size: 1.3em;
      line-height: 1.5em;
    }
}

.welcomeContainer{
  min-height:25vh;
	animation: colorChange 15s infinite;
  box-shadow: $boxShadow;
}

@keyframes colorChange {
	0% {
		background-color: $apoklLightBlue;
	}
	25% {
		background-color: $apoklLight2Blue;
	}
  50% {
		background-color: $apoklLightRose;
	}
  75% {
		background-color: $apoklLight2Blue;
	}
	100% {
		background-color: $apoklLightBlue;
	}
}

.gridBottom{
    position:absolute;
    bottom:5vh;
}


.carouselTitle{
  color:$apoklDarkBlue;
  font-size: 2.5em;
}

.carouselDescription{
  font-size: 1.2em;;
}

.carouselContainer{
  padding-left: 10px;
  padding-right: 10px;
  background-color: $apoklLightBlue;
  -webkit-box-shadow: $smallBoxShadow;
  box-shadow: $smallBoxShadow;
}

