@import "variables";

/*
Visible navbar
*/
.navbarTop{
    display: flex;
    justify-content: space-between;
    background-color:$apoklMediumBlue;
}

.menuIcon{
  color:$apoklLightBlue;
}

.loginLink{
  color: $apoklLightBlue;
  text-decoration: none;
  font-weight: 500;
}

/*
drawerBox 
*/

.drawerBox{
  background: $apoklLightBlue;
}

/*
drawerBox - card user
*/

.creatorPicture{
	border-radius: 50%;
}

.cardUser{
  background-color: $apoklMediumBlue;  
  border-radius: 5px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  z-index:1;
  padding-bottom: 1em;
  padding-top: 1em;
  margin:10%;
  color:whitesmoke;
}

.username{
  font-size: 1em;
  padding-top: 0.5em;
  margin-bottom: 0;
}


/*
drawerBox - login link
*/

.navbarLink{
    color:$apoklLightBlue;
    font-family: 'Arial';
    font-weight:bold;
    border-radius: 5px;
    border: 1px $apoklLightBlue solid ;
    padding: 5px;
}

.navbarLink:hover {
    transform-origin: left; 
    transform: scale(0);
    transition: 0.25s linear;
    transform: scale(1);
    background: linear-gradient(#d53a9d,#743ad5, );
    color:white
}

/*
drawerBox - nav links
*/

.accordionTitle{
  background-color: $apoklLightPurple;
  box-shadow: none;
}

.accordionTitle:hover{
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
}


.navButton:hover{
  border-radius: 5px;
  background-color: rgba(240, 235, 240, 1);
}



