.nftCard {
  background: linear-gradient(to right, #FFFFFF, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  overflow-x: hidden;
  height:60vh;  
}


.nftCard:hover .nftCardHeader{
  height:20vh;
}

.nftCard::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.nftCard::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f8f8f875;
}

.nftCard::-webkit-scrollbar-thumb {
  background: rgb(82, 0, 204);
  border-radius: 10px;
  border: 2px solid #faffff;
}

.nftCard::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 7, 204);
}

//Header

.nftCardHeader{
  position: relative;
  top:0px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 5px 3px rgba(100, 70, 100, 0.4);
  height:50vh;
  width: 100%;
  vertical-align: middle;
  background-repeat:no-repeat;
  background-size:cover;  
  background-position: center;
  -webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index:5;
  margin-bottom:0px;
}

.nftCardName{
  color:#fafafa;
  font-size: 3vh;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bolder;
  text-align: center;
  overflow: auto;
  text-shadow: 1px 0px 5px #333;
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -100%);
}

//Body

.nftCardBody{
  padding-left: 1em;
  padding-right:1em;
  z-index:0;
  position:relative;
  top:0px;
}

.nftCardUser{
  height:10vh;
}

.nftCardDescription{
  border-radius: 5px;
  padding:1em;
  margin:0.5em;
  color:#333;
	min-height:17vh;/* // body's heigth*/
	overflow-y: auto;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 130, 170,0.2),inset 0px 0px 3px 1px rgba(170, 130, 170,0.2);
  box-shadow: 0px 0px 2px 1px rgba(170, 130, 170,0.2),inset 0px 0px 3px 1px rgba(170, 130, 170,0.2);
}

.nftCardDescription::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.nftCardDescription::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fafafa;
}

.nftCardDescription::-webkit-scrollbar-thumb {
  background: rgb(82, 0, 204);
  border-radius: 10px;
  border: 2px solid #faffff;
}

.nftCardDescription::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 7, 204);
}

.nftCreatorPicture{ 
	border-radius: 50%;
}

.nftCardInfo {
  display: flex;
  height:7vh;
}

.topNote small {
  color: #545d7a;
}

.bottomNote{
  margin:0px;
}

.userName {
  margin-top:-17px;
  color: #000111;
  text-align: center;
}


.nftCardArrow:hover {
  border-radius: 50px;
  background: rgba(80,50,100,0.5) ;
  transform: translateY(-3px);
  color:white;
}
