@import "variables";

.separator80{
    width:80%;
    margin-left:auto;
    background-color: $apoklDarkBlue;
    height:2px
}

.separator40{
    width:40%;
    margin-left:auto;
    border:$apoklDarkBlue 1px solid;
    background-color: $apoklDarkBlue;
}

.smallSeparatorGradient{
    background: $mainGradient;
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
    height:2px;
    border-radius: 2px;
}

.separatorGradient{
    background: $mainGradient;
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
    height:10px;
    box-shadow: inset 0px 1px 2px #8d8ef4, inset 0px -1px 2px #8d8ef4;
    border-radius: 2px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}